.logo-container {
  display: flex;
  justify-content: center;
}
.logo-container .logo {
  justify-content: center;
  padding: 20px;
}

body {
  font-family: roboto;
  margin: 0;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: black;
}

/****** Media queries ***********/
@media only screen and (min-width: 768px) {
  .btn-fonctionnement-container {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }
  .restaurants {
    padding-left: 60px;
    padding-right: 60px;
  }
  .restaurants .cards-for-restaurant {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    gap: 30px;
  }
  .restaurants .cards-for-restaurant .card-restaurant {
    width: 45%;
  }
  .footer-links {
    display: flex;
    flex-direction: row;
  }
  .menu {
    padding-right: 80px;
    padding-left: 80px;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: -30px;
  }
}
@media only screen and (min-width: 1021px) {
  .btn-fonctionnement-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .btn-fonctionnement-container .btn-one, .btn-fonctionnement-container .btn-two, .btn-fonctionnement-container .btn-three {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .restaurants {
    padding-left: 60px;
    padding-right: 60px;
  }
  .restaurants .cards-for-restaurant {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 30px;
  }
  .restaurants .cards-for-restaurant .card-restaurant {
    width: 45%;
  }
  .menu {
    padding-right: 80px;
    padding-left: 80px;
    margin-left: 180px;
    margin-right: 180px;
    margin-top: -30px;
  }
}
.restaurants {
  background-color: #f6f6f6;
  padding: 20px;
}

.card-restaurant {
  background-color: white;
  border-radius: 20px;
  height: 251px;
  margin-bottom: 25px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card-restaurant img {
  height: 174px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-restaurant .badge {
  position: absolute;
  top: 20px;
  right: 10px;
  background: #99E2D0;
  color: #008766;
  padding: 8px 10px;
  font-size: 14px;
  font-weight: 500;
}
.card-restaurant .card-content {
  display: flex;
  flex-direction: column;
}
.card-restaurant .card-content h3, .card-restaurant .card-content p {
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 10px;
}
.card-restaurant .btn-favorite {
  position: absolute;
  right: 40px;
  bottom: 40px;
}

.location-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  box-shadow: 0px -3px 4px 0px rgba(0, 0, 0, 0.2509803922);
  padding-left: 0px;
  padding-right: 0px;
  gap: 15px;
}
.location-container p {
  font-size: 16px;
  font-weight: 500;
}

.location-exploration-container {
  background-color: #f6f6f6;
  padding: 30px 20px 40px 20px;
  box-shadow: 0px -2px 3px 0px rgba(0, 0, 0, 0.2509803922);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.location-exploration-container .txt-location-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
.location-exploration-container .txt-location-container h2 {
  display: flex;
  justify-content: center;
}
.location-exploration-container .txt-location-container p {
  font-size: 18px;
  font-weight: 300;
  display: flex;
  justify-content: center;
}

.fonctionnement-box {
  padding: 20px;
}

.btn-fonctionnement-container {
  margin-left: 20px;
  margin-right: 20px;
}

.btn-one, .btn-two, .btn-three {
  padding: 20px;
  background-color: #f6f6f6;
  border-radius: 20px;
  border: none;
  /*height: 72px;
  width: 100%;*/
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding-left: 0px;
  margin-bottom: 25px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
}

.fa-1, .fa-2, .fa-3 {
  padding: 5px 6px 5px 6px;
  background-color: #9356dc;
  color: white;
  border-radius: 25px;
  width: 15px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -15px;
}

.fa-mobile-screen-button, .fa-list-ul, .fa-store {
  padding: 20px;
  color: #7e7e7e;
}
.fa-mobile-screen-button i, .fa-mobile-screen-button:hover, .fa-list-ul i, .fa-list-ul:hover, .fa-store i, .fa-store:hover {
  color: #9356dc;
}

.footer {
  background-color: black;
  /* display: flex;
   flex-direction: column;*/
  padding-bottom: 20px;
  /*.links {
      padding: 10px 0px 10px;*/
}
.footer .footer-container {
  margin-left: 20px;
}
.footer .footer-logo {
  font-family: Shrikhand;
  color: white;
  font-weight: 400;
  font-size: 18px;
  font-style: italic;
}
.footer .footer-links {
  display: flex;
  flex-direction: column;
}
.footer .links {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
}
.footer .links .links, .footer .links a {
  display: flex;
  flex-direction: row;
}

.fa-solid {
  padding-right: 10px;
}

.btn-explore {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-search {
  padding: 13px 10px;
  background: linear-gradient(#9356DC, #FF79DA);
  border-radius: 25px;
  color: white;
  text-align: center;
  width: 186px;
}
.btn-search:hover {
  background: linear-gradient(#FF79DA, #9f6ed9);
  box-shadow: 6px 6px 15px 0px rgba(0, 0, 0, 0.3490196078);
}

.btn-favorite {
  cursor: pointer;
  padding-bottom: 26px;
  padding-right: 29px;
}
.btn-favorite i {
  position: absolute;
}
.btn-favorite i .fa-solid {
  position: hidden;
}
.btn-favorite .fa-solid {
  opacity: 0;
  background-image: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: 2s ease-out;
}
.btn-favorite .fa-solid:hover, .btn-favorite .fa-solid:active {
  display: inline;
  opacity: 1;
  background-image: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  transition: 300ms ease-out;
}

/*.menu {padding-right:20px;
        padding-left:20px;
background-color: #eaeaea;}*/
.logo-container {
  display: flex;
  justify-content: center;
}

.logo {
  justify-content: center;
}

.nav-bar {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: -55px;
}

.arrow {
  font-size: 30px;
  padding: 20px;
  padding-top: 20px;
}

.photo {
  height: 275px;
  width: 100%;
  position: relative;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}

.euro {
  font-weight: 700;
}

.fa-check {
  color: #99E2D0;
  padding: 10px;
  border-radius: 50%;
  /* background-color: white;*/
}

.page-title {
  font-family: Shrikhand;
  font-size: 28px;
  font-weight: 400;
  font-style: italic;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding-top: 25px;
}
.title .btn-favorite {
  padding-bottom: 10px;
  padding-left: 50px;
}

.menu {
  padding-right: 20px;
  padding-left: 20px;
  background-color: #eaeaea;
  margin-top: -50px;
  border-radius: 40px 40px 0px 0px;
}
.menu .starters, .menu .main-course, .menu .desserts, .menu .btn-explore {
  padding-bottom: 20px;
}

.menu-header {
  font-size: 20px;
  font-weight: 300;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
}

/*.starters, .main-course, .desserts, .btn-explore {padding-bottom: 20px;}*/
.card-menu {
  background-color: white;
  border-radius: 20px;
  height: 69px;
  margin-bottom: 25px;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1019607843);
}
.card-menu .card-content {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  padding-top: 5px;
}
.card-menu .card-content .card-title {
  font-size: 18px;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 0px;
}
.card-menu .card-content .card-subtitle {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 0px;
  margin-top: 5px;
}
.card-menu .card-content .euro, .card-menu .card-content .fa-check {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 50px;
  margin-top: -25px;
  /* & fa-check {position: hidden;}*/
}

.card-menu .check-choice {
  cursor: pointer;
  display: flex;
  justify-content: right;
  margin-top: -25px;
  margin-right: 20px;
}
.card-menu fa-check {
  position: absolute;
  /*right: 30px;
  margin-top: -25px;*/
}/*# sourceMappingURL=main.css.map */