.logo-container {
  display: flex;
  justify-content: center;
}
.logo-container .logo {
  justify-content: center;
  padding: 20px;
}

body {
  font-family: roboto;
  margin: 0;
}

p, h3, h4 {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: black;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 20px;
}

.card-restaurant {
  background-color: white;
  border-radius: 20px;
  height: 251px;
  margin-bottom: 25px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card-restaurant img {
  height: 174px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-restaurant .badge {
  position: absolute;
  top: 20px;
  right: 10px;
  background: #99E2D0;
  color: #008766;
  padding: 8px 10px;
  font-size: 14px;
  font-weight: 500;
}
.card-restaurant .card-content {
  display: flex;
  flex-direction: column;
  height: 70px;
  justify-content: center;
}
.card-restaurant .card-content h3, .card-restaurant .card-content p {
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 10px;
}
.card-restaurant .btn-favorite {
  position: absolute;
  right: 40px;
  bottom: 40px;
}

/****** Media queries ***********/
@media only screen and (min-width: 720px) {
  .restaurants {
    padding: 20px 80px;
  }
  .restaurants .cards-for-restaurant {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    justify-content: space-between;
  }
  .restaurants .cards-for-restaurant .card-restaurant {
    width: 45%;
  }
}
@media only screen and (min-width: 1120px) {
  .restaurants {
    padding: 50px 120px;
  }
  .restaurants .cards-for-restaurant {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
    gap: 20px;
  }
  .restaurants .cards-for-restaurant .card-restaurant {
    width: 45%;
  }
}
@media only screen and (min-width: 1240px) {
  .restaurants {
    padding: 50px 120px;
  }
  .restaurants .cards-for-restaurant {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
    gap: 20px;
  }
  .restaurants .cards-for-restaurant .card-restaurant {
    width: 480px;
  }
}
.location-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  box-shadow: 0px -3px 4px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 15px 0px 15px 0px;
  gap: 15px;
}
.location-container p {
  font-size: 16px;
  font-weight: 500;
}

.location-exploration-container {
  background-color: #f6f6f6;
  padding: 30px 20px 40px 20px;
  box-shadow: 0px -2px 3px 0px rgba(0, 0, 0, 0.2509803922);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.location-exploration-container .txt-location-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
.location-exploration-container .txt-location-container h2 {
  display: flex;
  justify-content: center;
}
.location-exploration-container .txt-location-container p {
  font-size: 18px;
  font-weight: 300;
  display: flex;
  justify-content: center;
}

.fonctionnement-box {
  padding: 20px;
}

.btn-fonctionnement-container {
  margin-left: 20px;
  margin-right: 20px;
}

.btn {
  background-color: #f6f6f6;
  border-radius: 20px;
  border: none;
  height: 72px;
  width: 335px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding-left: 0px;
  margin-bottom: 25px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
}
.btn:hover {
  background: linear-gradient(#FF79DA, #9f6ed9);
}

.fonct-number {
  padding: 5px 6px 5px 6px;
  background-color: #9356dc;
  color: white;
  border-radius: 25px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -15px;
}

.fa-mobile-screen-button, .fa-list-ul, .fa-store {
  padding: 20px;
  color: #7e7e7e;
}

/****** Media queries ***********/
@media only screen and (max-width: 390px) {
  .btn {
    width: 100%;
  }
}
@media only screen and (min-width: 620px) {
  .fonctionnement-box {
    padding: 30px 80px;
  }
}
@media only screen and (min-width: 895px) {
  .fonctionnement-box {
    padding: 30px 80px;
  }
  .btn-fonctionnement-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
  }
  .btn-fonctionnement-container .fonct-number {
    padding: 6px 8px 6px 8px;
  }
}
@media only screen and (min-width: 1200px) {
  .fonctionnement-box {
    padding: 50px 120px;
  }
  .btn-fonctionnement-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.footer {
  background-color: black;
  padding: 20px;
}
.footer .footer-logo {
  font-family: Shrikhand;
  color: white;
  font-style: italic;
  font-weight: 400;
}
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-links a {
  color: white;
}
.footer .links__icon {
  padding-right: 10px;
}

/****** Media queries ***********/
@media only screen and (min-width: 895px) {
  .footer-container {
    display: flex;
    flex-direction: row-reverse;
    padding: 50px 20px 10px 0px;
  }
  .footer-container .footer-logo {
    margin: 0px;
    padding: 0px 10px 0px 80px;
  }
  .footer-container .footer-links {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-left: 10px;
  }
  .footer-container .links__plus {
    padding-left: 40px;
  }
}
.btn-explore {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-search {
  padding: 13px 10px;
  background: linear-gradient(#9356DC, #FF79DA);
  border-radius: 25px;
  color: white;
  text-align: center;
  width: 186px;
}
.btn-search:hover {
  background: linear-gradient(#FF79DA, #9f6ed9);
  box-shadow: 6px 6px 15px 0px rgba(0, 0, 0, 0.3490196078);
}

.btn-favorite {
  cursor: pointer;
  padding-bottom: 26px;
  padding-right: 29px;
  font-size: 25px;
}
.btn-favorite i {
  position: absolute;
  padding-top: 5px;
}
.btn-favorite i__full {
  visibility: hidden;
}
.btn-favorite .favorite__full {
  opacity: 0;
  background-image: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  color: transparent;
  transition: 2s ease-out;
}
.btn-favorite .favorite__full:hover, .btn-favorite .favorite__full:active {
  display: inline;
  opacity: 1;
  background-image: linear-gradient(#9356dc, #ff79da);
  color: transparent;
  -webkit-background-clip: text;
  transition: 300ms ease-out;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo {
  justify-content: center;
}

.nav-bar {
  margin-left: 20px;
  margin-top: 20px;
  position: absolute;
  left: 0px;
}

.arrow {
  font-size: 25px;
  padding: 20px;
  padding-top: 20px;
}

.photo {
  height: 275px;
  width: 100%;
  position: relative;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}

.page-title {
  font-family: Shrikhand;
  font-size: 28px;
  font-weight: 400;
  font-style: italic;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding-top: 25px;
}
.title .btn-favorite {
  padding-left: 50px;
  font-size: 25px;
}

.menu-header {
  font-size: 20px;
  font-weight: 300;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
}

.menu {
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
  background-color: #eaeaea;
  margin-top: -50px;
  border-radius: 40px 40px 0px 0px;
  padding-left: 10px;
  padding-right: 10px;
}
.menu .starters, .menu .main-course, .menu .desserts, .menu .btn-explore {
  padding-bottom: 20px;
}

.menu-header {
  font-size: 20px;
  font-weight: 300;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
}

/****** Media queries ***********/
@media only screen and (max-width: 480px) {
  .nav-bar {
    margin-left: 0;
  }
  .menu {
    padding-left: 10px;
    padding-right: 10px;
  }
  .card-content-menu {
    width: 150px;
  }
  .card-title-menu, .card-subtitle-menu {
    max-width: 210px;
  }
}
@media only screen and (min-width: 700px) {
  .photo {
    height: 320px;
  }
  .menu {
    margin-left: auto;
    margin-right: auto;
  }
  .title {
    justify-content: center;
  }
  .card-menu {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto;
  }
  .starters-menu, .main-course-menu, .desserts-menu {
    width: 630px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 800px) {
  .photo {
    height: 345px;
  }
}
@media only screen and (min-width: 1100px) {
  .photo {
    height: 385px;
  }
  .menu {
    margin-left: auto;
    margin-right: auto;
  }
  .title {
    justify-content: center;
  }
  .card-menu {
    width: 635px;
    margin-left: auto;
    margin-right: auto;
  }
  .starters-menu, .main-course-menu, .desserts-menu {
    width: 635px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 1300px) {
  .photo {
    height: 420px;
  }
}
.card-menu {
  background-color: white;
  border-radius: 20px;
  display: flex;
  margin-bottom: 25px;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1019607843);
}
.card-menu:hover .check-choice, .card-menu:active .check-choice {
  width: 60px;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  transition: 300ms ease-out;
}

.card-content-menu {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 15px 0px 15px 15px;
}

.card-title-menu, .card-subtitle-menu {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 70%;
}

.menu-price {
  display: flex;
  width: 60px;
  align-items: flex-end;
  justify-content: end;
  padding: 0 15px 15px 0;
}

.check-choice {
  width: 0;
  overflow: hidden;
  transition: 300ms ease-out;
}

.fa-check {
  color: #99E2D0;
  padding: 4px;
  border-radius: 50%;
  background-color: white;
  margin-top: 23px;
  margin-left: 15px;
}

.delay1 {
  animation: starter1 0.75s;
}

.delay2 {
  animation: main1 1s;
}

.delay3 {
  animation: dessert1 1.2s;
}

@keyframes starter1 {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes main1 {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes dessert1 {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.loader {
  width: 100%;
  height: 100%;
  background-color: #FF79DA;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  opacity: 1;
  animation: load 1.5s forwards;
}
.loader--animation {
  border-top: 10px solid #99E2D0;
  border-right: 10px solid #FF79DA;
  border-bottom: 10px solid #99E2D0;
  border-left: 10px solid #FF79DA;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  animation: loading 1.3s;
}
.loader--anim {
  /* border-top: 10px solid $secondary;*/
  border-right: 10px solid #9356DC;
  /* border-bottom: 10px solid $secondary;*/
  border-left: 10px solid #9356DC;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  animation: loading2 1.3s;
}
@keyframes load {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  92% {
    opacity: 0.8;
  }
  99% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes loading {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(750deg);
  }
}
@keyframes loading2 {
  5% {
    transform: rotate(-45deg);
  }
  99% {
    transform: rotate(750deg);
  }
}/*# sourceMappingURL=main.css.map */