.logo-container {
  display: flex;
  justify-content: center;
}
.logo-container .logo {
  justify-content: center;
  padding: 20px;
}

body {
  font-family: roboto;
  margin: 0;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: black;
}

/*.new-page {transform-origin: left; }
.new-page:active {transition: all 10s;}*/
.restaurants {
  background-color: #f6f6f6;
  padding: 20px;
}

.card-restaurant {
  background-color: white;
  border-radius: 20px;
  height: 251px;
  margin-bottom: 25px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card-restaurant img {
  height: 174px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-restaurant .badge {
  position: absolute;
  top: 20px;
  right: 10px;
  background: #99E2D0;
  color: #008766;
  padding: 8px 10px;
  font-size: 14px;
  font-weight: 500;
}
.card-restaurant .card-content {
  display: flex;
  flex-direction: column;
}
.card-restaurant .card-content h3, .card-restaurant .card-content p {
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 10px;
}
.card-restaurant .btn-favorite {
  position: absolute;
  right: 40px;
  bottom: 40px;
}

/****** Media queries ***********/
@media only screen and (min-width: 620px) {
  .restaurants {
    padding: 20px 80px;
  }
  .restaurants .cards-for-restaurant {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    justify-content: space-between;
  }
  .restaurants .cards-for-restaurant .card-restaurant {
    width: 45%;
  }
}
@media only screen and (min-width: 1120px) {
  .restaurants {
    padding: 50px 120px;
  }
  .restaurants .cards-for-restaurant {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
    gap: 20px;
  }
  .restaurants .cards-for-restaurant .card-restaurant {
    width: 45%;
  }
}
@media only screen and (min-width: 1240px) {
  .restaurants {
    padding: 50px 120px;
  }
  .restaurants .cards-for-restaurant {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
    gap: 20px;
  }
  .restaurants .cards-for-restaurant .card-restaurant {
    width: 480px;
  }
}
.location-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  box-shadow: 0px -3px 4px 0px rgba(0, 0, 0, 0.2509803922);
  padding-left: 0px;
  padding-right: 0px;
  gap: 15px;
}
.location-container p {
  font-size: 16px;
  font-weight: 500;
}

.location-exploration-container {
  background-color: #f6f6f6;
  padding: 30px 20px 40px 20px;
  box-shadow: 0px -2px 3px 0px rgba(0, 0, 0, 0.2509803922);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.location-exploration-container .txt-location-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
.location-exploration-container .txt-location-container h2 {
  display: flex;
  justify-content: center;
}
.location-exploration-container .txt-location-container p {
  font-size: 18px;
  font-weight: 300;
  display: flex;
  justify-content: center;
}

.fonctionnement-box {
  padding: 20px;
}

.btn-fonctionnement-container {
  margin-left: 20px;
  margin-right: 20px;
}

.btn {
  background-color: #f6f6f6;
  border-radius: 20px;
  border: none;
  height: 72px;
  width: 335px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding-left: 0px;
  margin-bottom: 25px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
}

.fonct-number {
  padding: 5px 6px 5px 6px;
  background-color: #9356dc;
  color: white;
  border-radius: 25px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -15px;
}

.fa-mobile-screen-button, .fa-list-ul, .fa-store {
  padding: 20px;
  color: #7e7e7e;
}
.fa-mobile-screen-button i, .fa-mobile-screen-button:hover, .fa-list-ul i, .fa-list-ul:hover, .fa-store i, .fa-store:hover {
  color: #9356dc;
}

/****** Media queries ***********/
@media only screen and (min-width: 620px) {
  .fonctionnement-box {
    padding: 30px 80px;
  }
}
@media only screen and (min-width: 895px) {
  .fonctionnement-box {
    padding: 30px 80px;
  }
  .btn-fonctionnement-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
  }
  .btn-fonctionnement-container .fonct-number {
    padding: 6px 8px 6px 8px;
  }
}
@media only screen and (min-width: 1200px) {
  .fonctionnement-box {
    padding: 50px 120px;
  }
  .btn-fonctionnement-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.footer {
  background-color: black;
  padding: 20px;
}
.footer .footer-logo {
  font-family: Shrikhand;
  color: white;
  font-style: italic;
  font-weight: 400;
}
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-links a {
  color: white;
}
.footer .links__icon {
  padding-right: 10px;
}

/****** Media queries ***********/
@media only screen and (min-width: 895px) {
  .footer-container {
    display: flex;
    flex-direction: row-reverse;
    padding: 50px 20px 10px 0px;
  }
  .footer-container .footer-logo {
    margin: 0px;
    padding: 0px 10px 0px 80px;
  }
  .footer-container .footer-links {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-left: 10px;
  }
  .footer-container .links__plus {
    padding-left: 40px;
  }
}
.btn-explore {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-search {
  padding: 13px 10px;
  background: linear-gradient(#9356DC, #FF79DA);
  border-radius: 25px;
  color: white;
  text-align: center;
  width: 186px;
}
.btn-search:hover {
  background: linear-gradient(#FF79DA, #9f6ed9);
  box-shadow: 6px 6px 15px 0px rgba(0, 0, 0, 0.3490196078);
}

.btn-favorite {
  cursor: pointer;
  padding-bottom: 26px;
  padding-right: 29px;
  font-size: 21px;
}
.btn-favorite i {
  position: absolute;
}
.btn-favorite i .fa-solid {
  position: hidden;
}
.btn-favorite .fa-solid {
  opacity: 0;
  background-image: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: 2s ease-out;
}
.btn-favorite .fa-solid:hover, .btn-favorite .fa-solid:active {
  display: inline;
  opacity: 1;
  background-image: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  transition: 300ms ease-out;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo {
  justify-content: center;
}

.nav-bar {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: -55px;
}

.arrow {
  font-size: 25px;
  padding: 20px;
  padding-top: 20px;
}

.photo {
  height: 275px;
  width: 100%;
  position: relative;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}

.page-title {
  font-family: Shrikhand;
  font-size: 28px;
  font-weight: 400;
  font-style: italic;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding-top: 25px;
}
.title .btn-favorite {
  padding-left: 50px;
  font-size: 25px;
}

.menu {
  padding-right: 20px;
  padding-left: 20px;
  background-color: #eaeaea;
  margin-top: -50px;
  border-radius: 40px 40px 0px 0px;
}
.menu .starters, .menu .main-course, .menu .desserts, .menu .btn-explore {
  padding-bottom: 20px;
}

.menu-header {
  font-size: 20px;
  font-weight: 300;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
}

/****** Media queries ***********/
@media only screen and (min-width: 700px) {
  .photo {
    height: 300px;
  }
  .menu {
    margin-right: 100px;
    margin-left: 100px;
  }
}
@media only screen and (min-width: 900px) {
  .menu {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media only screen and (min-width: 1100px) {
  .photo {
    height: 385px;
  }
  .menu {
    padding-left: 120px;
    padding-right: 120px;
    margin-right: 120px;
    margin-left: 120px;
  }
  .title {
    justify-content: center;
  }
  .card-menu {
    width: 635px;
  }
}
@media only screen and (min-width: 1300px) {
  .photo {
    height: 420px;
  }
  .menu {
    margin-top: -35px;
    padding-left: 180px;
    padding-right: 180px;
    margin-right: 180px;
    margin-left: 180px;
  }
}
.euro {
  font-weight: 700;
}

.fa-check {
  color: #99E2D0;
  padding: 10px;
  border-radius: 50%;
  background-color: white;
}

.card-menu .check-choice {
  cursor: pointer;
  /*right: -50px;
  top: 20px;*/
  margin-top: -30px;
  margin-right: 30px;
  right: 80px;
  position: absolute;
  overflow: hidden;
  background-color: #99E2D0;
  transform-origin: right;
  /*display: flex;
    opacity: 1; 
   justify-content: right;
  margin-top: -25px;
   margin-right: 20px;*/
}
.card-menu .check-choice:hover, .card-menu .check-choice:active {
  width: 300px;
  opacity: 1;
  transition: all 0.75s ease-in-out;
}
.card-menu .check-choice .euro {
  background-color: white;
  padding: 60px;
  opacity: 1;
  transform: translate(600px, 0);
  transition: all 0.75 ease-in-out;
}
.card-menu fa-check {
  opacity: 1;
  color: #99E2D0;
  right: 50px;
  top: -5px;
  background: white;
  border-radius: 50%;
  padding: 10px;
  /*position: absolute;
  right: 30px;
          margin-top: -25px;*/
}
.card-menu:hover, .card-menu:active {
  opacity: 1;
}

.card-menu {
  background-color: white;
  border-radius: 20px;
  height: 69px;
  margin-bottom: 25px;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1019607843);
}
.card-menu .card-content {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  padding-top: 5px;
}
.card-menu .card-content .card-title {
  font-size: 18px;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 0px;
}
.card-menu .card-content .card-subtitle {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 0px;
  margin-top: 5px;
}
.card-menu .card-content .euro, .card-menu .card-content .fa-check {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 50px;
  margin-top: -25px;
  /* & fa-check {position: hidden;}*/
}

.loading-container {
  box-sizing: border-box;
}

.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(147, 86, 220) 0.1%, rgb(255, 121, 218) 94.2%);
  background-size: 100%;
  font-family: Shrikhand;
  overflow: hidden;
}

.loading-container {
  width: 100%;
  max-width: 520px;
  text-align: center;
  color: #99E2D0;
  position: relative;
  margin: 0 32px;
  /*animation: hide 5s ease-out center;*/
}
.loading-container:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #99E2D0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  animation: movingLine 2.4s infinite ease-in-out;
}

@keyframes movingLine {
  0% {
    opacity: 0;
    width: 0;
  }
  33.3%, 66% {
    opacity: 0.8;
    width: 100%;
  }
  85% {
    width: 0;
    left: initial;
    right: 0;
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 0;
  }
}
.loading-text {
  font-size: 5vw;
  line-height: 64px;
  letter-spacing: 10px;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-evenly;
}
.loading-text span {
  animation: moveLetters 2.4s infinite ease-in-out;
  transform: translatex(0);
  position: relative;
  display: inline-block;
  opacity: 0;
  text-shadow: 0px 2px 10px rgba(46, 74, 81, 0.3);
}

.loading-text span:nth-child(1) {
  animation-delay: 0.1s;
}

.loading-text span:nth-child(2) {
  animation-delay: 0.2s;
}

.loading-text span:nth-child(3) {
  animation-delay: 0.3s;
}

.loading-text span:nth-child(4) {
  animation-delay: 0.4s;
}

.loading-text span:nth-child(5) {
  animation-delay: 0.5s;
}

.loading-text span:nth-child(6) {
  animation-delay: 0.6s;
}

.loading-text span:nth-child(7) {
  animation-delay: 0.7s;
}

@keyframes moveLetters {
  0% {
    transform: translateX(-15vw);
    opacity: 0;
  }
  33.3%, 66% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(15vw);
    opacity: 0;
  }
}
@keyframes hide {
  0% {
    opacity: 1;
  }
  30%, 60% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}/*# sourceMappingURL=main.css.map */