.euro {font-weight: 700;}
.fa-check {color: $tierary;
            padding: 10px;
            border-radius: 50%;
           /* background-color: white;*/
            }

.card-menu { 
        .check-choice {
                 cursor: pointer;
                 display: flex;
                justify-content: right;
               margin-top: -25px;
                margin-right: 20px;} 
        & fa-check {position: absolute;
                        /*right: 30px;
                        margin-top: -25px;*/}
    }
