//loader 
.loader {
    width: 100%;
    height: 100%;
    background-color: $secondary;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    opacity: 1;

    animation: load 1.5s forwards;
    
    &--animation {
        border-top: 10px solid $tierary;
        border-right: 10px solid $secondary;
        border-bottom: 10px solid $tierary;
       border-left: 10px solid $secondary;
        width: 100px;
        height: 100px;
        border-radius: 50%;

        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        z-index: 10;

        animation: loading 1.3s;
    }
    &--anim {
       /* border-top: 10px solid $secondary;*/
        border-right: 10px solid $primary;
       /* border-bottom: 10px solid $secondary;*/
        border-left: 10px solid $primary;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
            right: 0;
            bottom: 0;
            z-index: 10;
            animation: loading2 1.3s;
        }
      
    @keyframes load {
          0% {
      transform: scale(1);
      opacity: 1;
    }
  
    80% {
      opacity: 1;
    }
  
    92% {opacity: 0.8;
    }   
      
    99% {transform: scale(1);
    }
  
    100% {
      transform: scale(0);
      opacity: 0;
    }
  }   
    @keyframes loading {

        0% {
          transform: rotate(-45deg);
        }
      
        100% {
          transform: rotate(750deg);
        }
      
      }

      @keyframes loading2 {  

        5% {
          transform: rotate(-45deg);
        }
      
        99% {
          transform: rotate(750deg);
        }
      }
     
    }

    
  
  
  