.footer {
    background-color: black;
    padding: 20px;
    
        .footer-logo {
        font-family: $logo-font;
        color: white;
        font-style: italic;
        font-weight: 400;
    }
        &-links {
            display: flex;
            flex-direction: column;
            gap: 10px;
    }
        &-links a {
            color: white;
    }
    .links__icon {padding-right: 10px;}
}
  /****** Media queries ***********/
// Medium devices and desktop screen (tablets, desktops less/equal than 1440px)
@media only screen and (min-width: 895px) {
    .footer-container { display: flex;
    flex-direction: row-reverse;
    padding: 50px 20px 10px 0px;

    .footer-logo { margin: 0px;
    padding: 0px 10px 0px 80px;}
    
    .footer-links {display:flex;
        flex-direction: row;
        align-items: flex-end;
        padding-left: 10px;
}
    .links__plus {padding-left:40px;}
}
 }
    


    
