//Menu header - logo and arrow

.logo-container {display: flex;
    justify-content: center;}
.logo {justify-content: center;}

.nav-bar { margin-left: 20px;
             margin-top: 20px;
             margin-bottom: -55px;
}
.arrow {font-size: 25px;
    padding: 20px;
    padding-top: 20px;}

//Photo - header
.photo {height: 275px;
        width: 100%;
        position: relative;
        z-index: -1;
        object-fit: cover;
    }

//Restaurant name and favorite button

.page-title { font-family: $title;
                font-size: 28px;
                font-weight: 400;
                font-style: italic;
                }

.title {display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        padding-top: 25px;   
        .btn-favorite {
             padding-left: 50px;
             font-size: 25px;
}
}
    //menu header formatting for menu pages
.menu {padding-right:20px;
        padding-left:20px;
        background-color: #eaeaea;
        margin-top: -50px;
        border-radius: 40px 40px 0px 0px;
        .starters, .main-course, .desserts, .btn-explore {padding-bottom: 20px;}
    }

    .menu-header { font-size: 20px;
        font-weight: 300;
       border-bottom:3px solid $tierary;
        width: 40px;}

        /****** Media queries ***********/
   
    //Medium size screen devices (screen size from 700 to 1100 wide)
@media only screen and (min-width: 700px) {
    .photo {height: 300px;}
    .menu {margin-right:100px;
            margin-left:100px;}
}
//Medium size screen (from 900 to 1100 wide)
//padding for menu
@media only screen and (min-width: 900px) {
    .menu {padding-left: 100px;
            padding-right: 100px;}
}
//Desktop/Large size screen (from 1100 wide)
@media only screen and (min-width: 1100px) {
    .photo {height: 385px;}
    .menu {padding-left: 120px;
            padding-right: 120px;
            margin-right:120px;
            margin-left: 120px;}
    .title {justify-content: center;}
    .card-menu {width: 635px;}
}
//Desktop screen from 1300px wide
@media only screen and (min-width: 1300px) {
    .photo {height: 420px;}
    .menu {margin-top: -35px;
        padding-left: 180px;
            padding-right: 180px;
            margin-right: 180px;
            margin-left: 180px;}
}
    