/*.menu {padding-right:20px;
        padding-left:20px;
background-color: #eaeaea;}*/

.logo-container {display: flex;
    justify-content: center;}
.logo {justify-content: center;}

.nav-bar { margin-left: 20px;
             margin-top: 20px;
             margin-bottom: -55px;
}
.arrow {font-size: 30px;
    padding: 20px;
    padding-top: 20px;}

.photo {height: 275px;
        width: 100%;
        position: relative;
        z-index: -1;
        object-fit: cover;
    }

.euro {font-weight: 700;}
.fa-check {color: $tierary;
            padding: 10px;
            border-radius: 50%;
           /* background-color: white;*/
            }

//Restaurant name and favorite button

.page-title { font-family: $title;
                font-size: 28px;
                font-weight: 400;
                font-style: italic;
                }

.title {display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        padding-top: 25px;   
        .btn-favorite { padding-bottom: 10px;
                        padding-left: 50px;
}
}
    //menu header formatting for menu pages
.menu {padding-right:20px;
        padding-left:20px;
        background-color: #eaeaea;
        margin-top: -50px;
        border-radius: 40px 40px 0px 0px;
        .starters, .main-course, .desserts, .btn-explore {padding-bottom: 20px;}
    }

    .menu-header { font-size: 20px;
        font-weight: 300;
       border-bottom:3px solid $tierary;
        width: 40px;}
    /*.starters, .main-course, .desserts, .btn-explore {padding-bottom: 20px;}*/

    //Card for individual menu items
.card-menu { background-color: white;
    border-radius: 20px;
    height: 69px;
    margin-bottom: 25px;
    box-shadow: 0px 4.01px 15.04px 0px #0000001A;

   .card-content {display: flex;
                 flex-direction: column;
                 margin-left: 20px;
                 padding-top: 5px;
                         .card-title {font-size: 18px;
                            font-weight: 500;
                             margin-top: 0px;
                            margin-bottom: 0px;
}
                .card-subtitle {font-size: 15px;
                            font-weight: 300;
                            margin-bottom: 0px;
                            margin-top: 5px;
}  
                .euro, .fa-check {display: flex;
                        flex-direction: row-reverse;
                        margin-right: 50px;
                        margin-top: -25px;
               /* & fa-check {position: hidden;}*/
            }
} 
}
