//Menu header - logo and arrow

header {
    position: relative;
}
.logo-container {
    display: flex;
    justify-content: center;
}
.logo {
    justify-content: center;
}
//Arrow section
.nav-bar {
    margin-left: 20px;
    margin-top: 20px;
    position:absolute;
    left: 0px;
}
.arrow {
    font-size: 25px;
    padding: 20px;
    padding-top: 20px;
}

//Photo - header
.photo {
    height: 275px;
    width: 100%;
    position: relative;
    z-index: -1;
    object-fit: cover;
}

//Restaurant name and favorite button

.page-title { 
    font-family: $title;
    font-size: 28px;
    font-weight: 400;
    font-style: italic;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-top: 25px;   
    margin-bottom: 40px;

.btn-favorite {
    padding-left: 30px;
    font-size: 25px;
    margin-bottom: 3px;
    position: absolute;
    right: 50px;
}
}
//menu-header for blocs / formatting for menu pages

.menu-header { 
    font-size: 20px;
    font-weight: 300;
    border-bottom:3px solid $tierary;
    width: 40px;
    margin-bottom: 20px;
}
.menu {
    margin-left: auto;
    margin-right: auto;
    background-color: #eaeaea;
    margin-top: -50px;
    border-radius: 40px 40px 0px 0px;
    padding-left: 10px; 
    padding-right: 10px;
    position: relative;

.starters, .main-course, .desserts, .btn-explore {
    padding-bottom: 20px;
}
}

.menu-header { 
    font-size: 20px;
    font-weight: 300;
    border-bottom:3px solid $tierary;
    width: 40px;
}


        /****** Media queries ***********/
//Smaller screen devices (max-width: 400px)
@media only screen and (max-width: 400px) {
.nav-bar { 
    margin-left: 0;
}
.title {
        .btn-favorite { 
            position: relative;
            right: 0;
        }
}
}
    
//Small screen devices (max-width: 480px)
 @media only screen and (max-width: 480px) {
    .card-content-menu {
        width: 150px;
}
    .card-title-menu, .card-subtitle-menu {
        max-width: 210px;
}
}
   
//Medium size screen devices (screen size from 700 to 1100 wide)
@media only screen and (min-width: 768px) {
.photo {
    height: 320px;
}
.menu { 
margin-left: auto;
margin-right: auto;
padding-left: 50px;
padding-right: 50px;
}
.title {
    justify-content: center;
    .btn-favorite { 
        position: relative;
        right: 0;
    }
}
.card-menu { 
    max-width: 630px;
    margin-left: auto;
    margin-right: auto;
}
.starters-menu, .main-course-menu, .desserts-menu {
    width: 630px;
    margin-left: auto;
    margin-right: auto;
}
}

//Desktop/Large size screen (from 1025 wide)
@media only screen and (min-width: 1025px) {
.arrow {
    padding: 0px;
}
.photo {
    height: 385px;
    }
.menu {
    margin-left: 120px;
    margin-right: 120px;
    padding-left: 40px;
    padding-right: 40px;
}
.title {
    justify-content: center;
}
.card-menu {
    width: 635px;
    margin-left: auto;
    margin-right: auto;
}
.starters-menu, .main-course-menu, .desserts-menu {
    width: 635px;
    margin-left: auto;
    margin-right: auto;
}
}
//Desktop screen from 1300px wide
@media only screen and (min-width: 1300px) {
.photo {
    height: 420px;
}
}
