body {font-family: roboto;
margin: 0;}

$primary:  #9356DC;
$secondary: #FF79DA;
$tierary: #99E2D0;
$logo-font: Shrikhand;

$shadow: 0px 2px 4px 0px #00000026;
$txtfontbold: (
  font-size: 16px,
  font-weight: 500
);
h2 {font-size: 24px;
font-weight: 700;}
a {text-decoration: none;
color: black;}

/****** Media queries ***********/
// Medium devices (tablets, less/equal than 1024px)
@media only screen and (min-width: 968px) {
	.btn-fonctionnement-container {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		.btn-one, .btn-two, .btn-three {padding-top: 10px;
		padding-bottom: 10px;
	}
}
.restaurants {
	padding-left: 60px;
	padding-right: 60px;
	.cards-for-restaurant {display: flex;
	flex-wrap: wrap;
	row-gap: 30px;
	.card-restaurant {width: 45%;
}
} 
}
			.footer {
			flex-direction: row;
		}
	}



//Desktop devices ( less/equal than 1440px)
@media only screen and (min-width: 1024px) {
  .btn-fonctionnement-container { display: flex;
    flex-direction: row;
  justify-content: space-around;
  .btn-one, .btn-two, .btn-three {padding-top: 10px;
    padding-bottom: 10px;}
}
.restaurants {padding-left: 60px;
  padding-right: 60px;
.cards-for-restaurant {display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 30px;
.card-restaurant {width: 45%;}
}
}
}


