body {font-family: roboto;
margin: 0;}

$primary:  #9356DC;
$secondary: #9e5a8b;
$tierary: #99E2D0;
$logo-font: Shrikhand;
$title: Shrikhand;

$shadow: 0px 2px 4px 0px #00000026;
$txtfontbold: (
  font-size: 16px,
  font-weight: 500);

h2 {font-size: 24px;
font-weight: 700;}
a {text-decoration: none;
color: black;}

/*.new-page {transform-origin: left; }
.new-page:active {transition: all 10s;}*/

